{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span8 text-center">
            <img src="/images/{{ meme.getImage().id }}">
        </div>

        <div class="span4">
        Show some stats?
        </div>
    </div>
{% endblock %}