{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Images</h2>
    <div id="images">
        {% for image in images %}
            <img src="/images/{{ image.id }}?width=175&amp;height=175&amp;adj=crop" data-id="{{ image.id }}">
        {% endfor %}
    </div>

    <br>

    <h2>Uploade new image</h2>
    <form action="/api/images" method="post" enctype="multipart/form-data" name="upload_image">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    // Delete image
    $("#images img").click(function(e) {
        if (! confirm("Please confirm you want to delete this image?")) {
            return;
        }

        var image = $(this);
        var id    = image.data("id");

        $.ajax({
            url     : "/api/images/" + id,
            type    : "DELETE",
            success : function() {
                image.remove();
            }
        })
    });
    </script>
{% endblock %}