<!-- @author Andrei Shevtsov <andrei@parad0x.me> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/form.css?{{ constant('REVISION') }}" rel="stylesheet">
</head>

<body>

<div class="new-meme-box-wrapper">
    <div class="new-meme-box">
        <div class="step step1">
            <h4>Step1. Choose an image.</h4>

            <div class="meme-images">
                {% for image in images %}
                    <img src="{{ image.url(130, 130, 'crop') }}" data-id="{{ image.id }}" class="img-thumbnail">
                {% endfor %}
            </div>
        </div>

        <div class="step step2">
            <h4>Step 2. Write something silly.</h4>

            <div class="back">
                <a href="#">&laquo; Choose different image</a>
            </div>

            <form action="#" method="POST" name="new_meme">
                <input type="hidden" name="image">
                <input type="text" name="text_top" placeholder="Top Text" class="form-control">
                <div class="step2-image-container"></div>
                <input type="text" name="text_bottom" placeholder="Bottom Text" class="form-control">
                <button class="btn btn-primary">Create Meme</button>
            </form>
        </div>

        <br clear="all">
    </div>

    <div id="hidden-forest" style="display:none"></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script>
// New meme
$(function() {
    // Globals
    var image;
    var current;

    // DOM
    var $form             = $("form[name=new_meme]");
    var $textTop          = $form.find("input[name=text_top]");
    var $textBottom       = $form.find("input[name=text_bottom]");
    var $previewContainer = $(".step2-image-container");
    var $hiddenForest     = $("#hidden-forest");

    var slide = function(step) {
        current = step;

        var left = (step == 1) ? 0 : -300;
        var aniCount = 0;

        $(".step")
            .stop()
            .animate(
                { left: left },
                300,
                null,
                function() {
                    if (++aniCount == 2)
                        adjustHeight();
                }
            );
    };

    // Update image preview
    var updatePreview = function() {
        if (image) {
            var imageUrl = "/memes/preview?" + $.param({
                image       : image,
                text_top    : $textTop.val(),
                text_bottom : $textBottom.val(),
                width       : 275
            });

            $hiddenForest.empty();

            $("<img>", {width: 275})
                .appendTo($hiddenForest)
                .load(function() {
                    console.log("Image loaded. Updating preview.");
                    $previewContainer.html($hiddenForest.html());
                    $hiddenForest.empty();
                })
                .attr("src", imageUrl);
        }
    };

    var adjustHeight = function() {
        var height = (current == 1 ? $(".step1") : $(".step2")).height() + 10;

        if (typeof(window.postMessage) != 'undefined') {
            window.top.postMessage({height: height}, '*');
        } else if (window.top.resizeTwdIframe) {
            window.top.resizeTwdIframe(height);
        }
    };

    // Back
    $(".back a").click(function() {
        image = null;
        slide(1);
        $("form input[type=text]").val("");
    });

    // Image picker
    $(".meme-images img").click(function(e) {
        image = $(this).data("id");
        $("form[name=new_meme] input[name=image]").val(image);
        updatePreview();
        slide(2);
    });

    // Update preview on text change
    $textTop.keyup(updatePreview);
    $textBottom.keyup(updatePreview);

    // Form submitted
    $form.submit(function(e) {
        e.preventDefault();

        // Make sure we have everything we need
        if (! $form.find("input[name=image]").val()) {
            return;
        }
        if (!$textTop.val() && !$textBottom.val()) {
            return;
        }

        // Create new meme
        $.post("/memes", $form.serialize())
        .success(function(response) {
            if (response.redirect) {
                window.top.location.href = response.redirect;
            } else {
                alert("Oops. Something went wrong.");
            }
        })
        .error(function(response) {
            if (response.status == "error") {
                alert(response.data);
            } else {
                alert("Oops. Something went wrong.");
            }
        });
    });
});
</script>

</body>
</html>