<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <title>Elmo and Cookie Monster Are Getting a Sesame Street Spin-Off | The Mary Sue</title>
    <script type="text/javascript">
    var bloginfo = {
    'url': 'http://www.themarysue.com',
    'template_directory': 'http://static03.mediaite.com/themarysue/themes/themarysue'
    };
    </script>

    <!-- Start Dynamic Header -->
    <link rel="alternate" type="application/rss+xml" title="The Mary Sue &raquo; Elmo and Cookie Monster Are Getting a &lt;em&gt;Sesame Street&lt;/eM&gt; Spin-Off Comments Feed" href="http://www.themarysue.com/elmo-cookie-monster-sesame-street-spin-off/feed/" />
    <link rel='stylesheet' id='am-ngg-car-skin-css'  href='http://www.themarysue.com/wp-content/plugins/am-ngg-front-end/media/skin/skin.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='am-ngg-css-css'  href='http://www.themarysue.com/wp-content/plugins/am-ngg-front-end/media/style.css?ver=2.2' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.themarysue.com/wp-includes/js/l10n.js?ver=20101110'></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
    <script type='text/javascript' src='http://www.themarysue.com/wp-content/plugins/am-ngg-front-end/js/jquery.jcarousel.min.js?ver=3.1.4'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.themarysue.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.themarysue.com/wp-includes/wlwmanifest.xml" />
    <link rel='index' title='The Mary Sue' href='http://www.themarysue.com/' />
    <link rel='start' title='Holiday Safety Tips From Aperture Laboratories' href='http://www.themarysue.com/portal-2-preorder/' />
    <link rel='prev' title='Batman&#8217;s Most Ordinary Adventures' href='http://www.themarysue.com/batmans-ordinary-adventures/' />
    <link rel='next' title='It Must Be Fall, &lt;em&gt;The Hobbit&lt;/em&gt; PR Machine is Ramping Up' href='http://www.themarysue.com/it-must-be-fall-the-hobbit-pr-machine-is-ramping-up/' />
    <meta name="generator" content="WordPress 2013.41" />
    <link rel='canonical' href='http://www.themarysue.com/elmo-cookie-monster-sesame-street-spin-off/' />

    <!-- All in One SEO Pack 1.6.13.4 by Michael Torbert of Semper Fi Web Design[200,219] -->
    <meta name="description" content="...but only kids in the UK will be able to watch it. Waaaaaitaminute. British Cookie Monster still loves to eat cookies, right? He doesn't call them biscuits?" />
    <meta name="keywords" content="bbc,cookie monster,elmo,sesame street" />
    <!-- /all in one seo pack -->

<!-- la petite url version 2.0.4 -->
<link rel='shorturl' href='http://themarysue.com/mfcvc' />
  <!-- End Dynamic Header -->
  <script type="text/javascript" src="http://static03.mediaite.com/themarysue/themes/themarysue/js/jquery.fancybox-1.3.4.min.js"></script>
  <script type="text/javascript" src="http://static03.mediaite.com/themarysue/themes/themarysue/js/scripts.js?v=4jzbtt"></script>
  <script type="text/javascript" src="http://static03.mediaite.com/themarysue/themes/themarysue/js/wmode-fix.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="google-site-verification" content="Jk1OTmEi-AKhjhF78xnjtRFQwdgsC6p-psiPVhsM00g" />
  <meta property="og:title" content="Elmo and Cookie Monster Are Getting a Sesame Street Spin-Off" />
  <meta property="og:image" content="http://static03.mediaite.com/themarysue/uploads/2013/10/elmo-cookie-monster-300x129.jpg" />
  <link rel="stylesheet" type="text/css" href="http://static03.mediaite.com/themarysue/themes/themarysue/style.css?v=4ke3to" />
  <link rel="stylesheet" type="text/css" href="http://static03.mediaite.com/themarysue/themes/themarysue/images/fancybox/fancybox.css" />
  <link rel="apple-touch-icon" href="http://www.themarysue.com/apple-touch-icon.png" />
  <link rel="shortcut icon" href="http://www.themarysue.com/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" href="http://www.themarysue.com/feed/" title="The Mary Sue RSS Feed" />
  <link rel="alternate" type="application/atom+xml" href="http://www.themarysue.com/feed/atom/" title="The Mary Sue Atom Feed" />
  <link rel="pingback" href="http://www.themarysue.com/xmlrpc.php" />
</head>

<body id="post-108424" class="single">
  <div id="network-bar">
    <ol>
      <li id="bar-mediaite"><a href="http://www.mediaite.com/">Mediaite</a></li>
      <li id="bar-gossipcop"><a href="http://www.gossipcop.com/">Gossip Cop</a></li>
      <li id="bar-geekosystem"><a href="http://www.geekosystem.com/">Geekosystem</a></li>
      <li id="bar-styleite"><a href="http://www.styleite.com/">Styleite</a></li>
      <li id="bar-sportsgrid"><a href="http://www.sportsgrid.com/">SportsGrid</a></li>
      <li id="bar-marysue"><a class="bar-current" href="http://www.themarysue.com/">The Mary Sue</a></li>
      <li id="bar-thejanedough"><a href="http://www.thejanedough.com/">The Jane Dough</a></li>
      <li id="bar-thebraiser"><a href="http://www.thebraiser.com/">The Braiser</a></li>
    </ol>
  </div>

  <div id="header">
    <div id="logo-area">
        <div id="mascot">
            <a href="http://www.themarysue.com/">
                <img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/mascots/17.png" alt="Mascot" id="tms_mascot" />
            </a>
            <script type="text/javascript">random_mascot();</script>
        </div>

        <div id="social">
            <ul>
                <li id="soc-google" class="soc-item"><a href="https://plus.google.com/100214857885073188302/" rel="publisher" title="Follow on Google Plus">Follow on Google Plus</a></li>
                <li id="soc-pinterest" class="soc-item"><a href="http://pinterest.com/themarysue/" title="Follow on Pinterest">Follow on Pinterest</a></li>
                <li id="soc-twitter" class="soc-item"><a href="https://twitter.com/TheMarySue" title="Follow @TheMarySue">Follow @TheMarySue</a></li>
                <li id="soc-facebook" class="soc-item"><a href="http://www.facebook.com/themarysue" title="Like us on Facebook">Like us on Facebook</a></li>
            </ul>
            <script type="text/javascript" src="http://static03.mediaite.com/themarysue/themes/themarysue/js/soc-scripts.js"></script>
        </div>

        <div id="logo-search">
            <div id="tagline">
                <img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/header-tagline.png" alt="A Guide To Girl Geek Culture" />
            </div>
            <form method="get" action="http://www.themarysue.com/">
  <input type="text" name="s" value="SEARCH..." class="search-input autoclear" />
  <a href="#" class="form-submit"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/submit.png" alt="Submit" /></a>
</form>     </div>

        <div id="logo-home">
            <a href="http://www.themarysue.com/"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/header-logo.png" alt="The Mary Sue" /></a>
            <a href="#" id="asterisk"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/header-star.png" alt="*" /></a>
        </div>
    </div>
  </div>
    <div id="balloon">
    <div id="balloon-wrapper">
      <p>What's with the name?</p>
      <p><a href="http://www.themarysue.com/why-the-mary-sue/">Allow us to explain.</a></p>
    </div>
  </div>
            <div id="unit-area"><div id='leaderboard-atf'></div></div>
  <div id="wrapper">

<div id="contentwrapper">
<script type="text/javascript">
  var AMArticleID = '108424';
  var AMCategory = 'Things+to+Do+With+Your+Kids';
  var AMAdCategory = '';
  var AMSponsor = '';
</script>
      <ul id="featured-posts">
              <li>
          <a href="http://www.themarysue.com/frozen-animating-female-characters/" title="Frozen's Head of Animation Says Animating Female Characters Is Hard, Because Ladies Are Really Emotional And Stuff">
            <span class="featured-post-thumb"><img width="160" height="83" src="http://static03.mediaite.com/themarysue/uploads/2013/10/frozen-poster-160x83.jpg" class="attachment-topshelf wp-post-image" alt="frozen poster" title="Frozen&#8216;s Head of Animation Says Animating Female Characters Is Hard, Because Ladies Are Really Emotional And Stuff" /></span>
            <span class="featured-post-title"><eM>Frozen</eM> Animator On Female Characters</span>
          </a>
        </li>
              <li>
          <a href="http://www.themarysue.com/batmans-ordinary-adventures/" title="Batman's Most Ordinary Adventures">
            <span class="featured-post-thumb"><img width="160" height="83" src="http://static03.mediaite.com/themarysue/uploads/2013/10/tumblr_mhnxvdLoWJ1r1069oo1_r2_500-160x83.jpg" class="attachment-topshelf wp-post-image" alt="tumblr_mhnxvdLoWJ1r1069oo1_r2_500" title="Batman&#8217;s Most Ordinary Adventures" /></span>
            <span class="featured-post-title">Batman's Most Ordinary Adventures</span>
          </a>
        </li>
              <li>
          <a href="http://www.themarysue.com/the-mary-sue-new-york-comic-con-2013-party/" title="[Updated] The Mary Sue's New York Comic Con Party Just Got Even Awesomer!">
            <span class="featured-post-thumb"><img width="160" height="83" src="http://static03.mediaite.com/themarysue/uploads/2013/10/no-admittance-except-on-party-business-160x83.jpg" class="attachment-topshelf wp-post-image" alt="no admittance except on party business" title="[Updated] The Mary Sue&#8217;s New York Comic Con Party Just Got Even Awesomer!" /></span>
            <span class="featured-post-title">Updated: Our New York Comic Con Party</span>
          </a>
        </li>
              <li>
          <a href="http://www.themarysue.com/hero-glyphics/" title="Hero-Glyphics, Proof All Those Time Travel Story Events Were Real">
            <span class="featured-post-thumb"><img width="160" height="83" src="http://static03.mediaite.com/themarysue/uploads/2013/10/6121185_12540616_lz-160x83.jpg" class="attachment-topshelf wp-post-image" alt="6121185_12540616_lz" title="Hero-Glyphics, Proof All Those Time Travel Story Events Were Real" /></span>
            <span class="featured-post-title">Hero-Glyphics</span>
          </a>
        </li>
              <li class="featured-post-last">
          <a href="http://www.themarysue.com/reasons-to-be-a-walker-the-walking-dead/" title="10 Reasons It's Not That Bad To Be a Walker From The Walking Dead">
            <span class="featured-post-thumb"><img width="160" height="83" src="http://static03.mediaite.com/themarysue/uploads/2013/09/twd-top-pic-160x83.jpg" class="attachment-topshelf wp-post-image" alt="twd top pic" title="10 Reasons It&#8217;s Not That Bad To Be a Walker From The Walking Dead" /></span>
            <span class="featured-post-title">Reasons It's Good To Be a Walker</span>
          </a>
        </li>
          </ul>
  <div id="content">
    <div id="posts">
                        <div class="post single">

            <h3 class="category"><a href="http://www.themarysue.com/category/things-to-do-with-your-kids/">Things to Do With Your Kids</a></h3>
            <div id="post-heading">
              <h1>Elmo and Cookie Monster Are Getting a <em>Sesame Street</eM> Spin-Off</h1>
              <p class="dateline" style="width:535px;">by <a href="http://www.themarysue.com/author/rebecca-pahle/" title="Posts by Rebecca Pahle">Rebecca Pahle</a> | 11:00 am, October 8th, 2013</p>
                <div id="share-cont">

    <div id="share">

      <div class="share-twitter share-item">
        <a href="http://twitter.com/share" class="twitter-share-button">&nbsp;</a>
        <script type="text/javascript"><!--
          var related = ['Mediaite', 'GossipCop', 'Styleite', 'Geekosystem', 'SportsGrid', 'TheJaneDough', 'TheBraiser'];
          $('a.twitter-share-button').attr({
            'data-count':   'vertical',
            'data-via':     'TheMarySue',
            'data-url':     'http://www.themarysue.com/elmo-cookie-monster-sesame-street-spin-off/',
            'data-text':    'Elmo and Cookie Monster Are Getting a Sesame Street Spin-Off',
            'data-related': array_shuffle(related).join(',')
          });
        --></script>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </div>

      <div class="share-facebook share-item">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.themarysue.com%2Felmo-cookie-monster-sesame-street-spin-off%2F&amp;layout=box_count&amp;show-faces=false&amp;action=like&amp;width=51&amp;font=arial&amp;colorscheme=light" scrolling="no" frameborder="0" id="facebook-like-inner"></iframe>
      </div>

      <div class="share-plusone share-item">
        <div class="g-plusone"></div>
        <script type="text/javascript">
          $('div.g-plusone').attr({
            'data-size':  'tall',
            'data-count': 'false'
          });
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div>

      <div class="share-pinterest share-item" >
        <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.themarysue.com%2Felmo-cookie-monster-sesame-street-spin-off%2F&amp;media=http://static03.mediaite.com/themarysue/uploads/2013/10/elmo-cookie-monster-300x129.jpg&amp;description=Elmo%20and%20Cookie%20Monster%20Are%20Getting%20a%20Sesame%20Street%20Spin-Off" class="pin-it-button" count-layout="vertical"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
      </div>

      <div class="share-reddit share-item">
        <script type="text/javascript">
          reddit_url = "http://www.themarysue.com/elmo-cookie-monster-sesame-street-spin-off/";
          reddit_title = "Elmo and Cookie Monster Are Getting a Sesame Street Spin-Off";
          reddit_newwindow='1';
        </script>
        <script type="text/javascript" src="http://www.reddit.com/static/button/button3.js"></script>
      </div>

      <div class="share-tumblr share-item">
        <script src="http://platform.tumblr.com/v1/share.js"></script>
        <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:62px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
      </div>

  </div>

</div>              <br class="clearfix" />
            </div> <!-- end post-heading -->

            <!-- PerfectMarket -->
            <div id="pm-byline-unit"></div>
            <!-- End PerfectMarket -->

            <div id="post-body">
              <p style="text-align: center;"><a href="http://www.themarysue.com/elmo-cookie-monster-sesame-street-spin-off"><img class="size-full wp-image-108428 aligncenter" height="250" width="580" title="elmo cookie monster" src="http://static03.mediaite.com/themarysue/uploads/2013/10/elmo-cookie-monster.jpg" /></a></p>
<p>&#8230;but only kids in the UK will be able to watch it. <em>Waaaaaitaminute</em>. British Cookie Monster still loves to eat <em>cookies</em>, right? He doesn&#8217;t call them biscuits?</p>
<p><span id="more-108424"></span></p>
<p>Elmo and Cookie Monster are heading across the pond for <em>The Furchester</em>, a collaboration between the Sesame Workshop and BBC pre-school channel CBeebies. Via the <em><a href="http://www.latimes.com/entertainment/tv/showtracker/la-et-st-elmo-cookie-monster-furchester-20131007,0,166191.story">Los Angeles Times</a></em>, the show<em>:</em></p>
<blockquote><p>&#8220;is about an adorable family of goofy monsters who are running an &#8216;almost&#8217; world-class hotel. That is, it would be world-class if the monster&#8217;s incompetent antics didn&#8217;t get in the way. Owner Funella Furchester has good intentions but her husband, Furgus Fuzz, feels put upon by the demands of the hotel.&#8221;</p></blockquote>
<p>In this scenario Cookie Monster works with the food—natch—delivering room service and functioning as a dining room waiter. And Elmo&#8217;s the cousin of the owners&#8217; daughter Phoebe, so he hangs around answering phones and pushing elevator buttons and such. The show will premiere in the fall of 2014.</p>
<p>So we&#8217;re looking at a less scuzzy, more educational version of the Happiness Hotel from <em>The Great Muppet Caper</em>, essentially? Works for me. Now my brain is imagining all sorts of other Muppet/<em>Sesame Street</em>-related shows. Like a version of <em>Agents of SHIELD</em> where Super Grover occasionally swoops in. Sam the Eagle is Nick Fury, of course. And Kermit, with his experience bringing a motley crew together, would be Coulson. Quick, somebody fanart this.</p>
<p>(via: <em><a href="http://entertainment.time.com/2013/10/08/elmo-cookie-monster-journey-across-the-pond/">TIME</a></em>)</p>

<p>
    <iframe src="/form" width="600" height="330" frameborder="0" scrolling="no" id="twd-iframe" seamless></iframe>
    <script type="text/javascript">
    function resizeTwdIframe(height) {
        $("#twd-iframe").stop().animate({height: height}, 300);
    }
    (function() {
        function messageListener(event) {
            if (event.origin.indexOf('themarysue.com') > -1 && event.data.height) {
                $("#twd-iframe").stop().animate({height: event.data.height}, 300);
            }
        }
        if (typeof(window.postMessage) != 'undefined') {
            if (typeof(window.addEventListener) != 'undefined') {
                window.addEventListener('message', messageListener);
            } else {
                window.attachEvent('onmessage', messageListener);
            }
        }
    })();
    </script>
</p>

<p><em>Are you following The Mary Sue on <a href="https://twitter.com/#!/TheMarySue/">Twitter</a>, <a href="http://www.facebook.com/themarysue">Facebook</a>, <a href="http://themarysue.tumblr.com/">Tumblr</a>, <a href="http://pinterest.com/themarysue/">Pinterest</a>, &amp; <a href="https://plus.google.com/100214857885073188302/posts">Google +</a>?</em></p>
            </div> <!-- end post-body -->

            <p class="tags">
              <span class="tags-title">TAGS:</span>
              <a href="http://www.themarysue.com/tag/bbc/" rel="tag">BBC</a> | <a href="http://www.themarysue.com/tag/cookie-monster/" rel="tag">Cookie Monster</a> | <a href="http://www.themarysue.com/tag/elmo/" rel="tag">Elmo</a> | <a href="http://www.themarysue.com/tag/sesame-street/" rel="tag">Sesame Street</a>            </p>
         <br class="clearfix" />
          </div>
                        </div>
    <ul id="sidebar">
    <li id="unit-sidebar-atf" class="sidebar-item">
        <div id='rectangle-atf'></div>
    </li>

  <li id="newsletter" class="sidebar-item">
    <div class="sidebar-header">Newsletter</div>
    <form action="http://www.themarysue.com/email-newsletter/">
      <input type="text" name="subscribe" value="ENTER EMAIL ADDRESS..." class="newsletter-input autoclear" />
      <input type="image" src="http://static03.mediaite.com/themarysue/themes/themarysue/images/submit.png" />
    </form>
    <br class="clearfix" />
  </li>
    <li id="power-grid" class="sidebar-item">
        <a href="http://www.themarysue.com/category/power-grid/" class="sidebar-link-header">Power Grids</a>
                              <div class="story">
        <a href="http://www.themarysue.com/2013-summer-movie-wrap-up/"><img width="96" height="96" src="http://static03.mediaite.com/themarysue/uploads/2013/08/pacific-rim-mako-mori-96x96.jpg" class="attachment-powergrid wp-post-image" alt="pacific rim mako mori" title="pacific rim mako mori" /></a>
        <h6><a href="http://www.themarysue.com/2013-summer-movie-wrap-up/">The Mary Sue&#8217;s 2013 Summer Movie Wrap-Up</a></h6>
        <p>From <em>Iron Man 3</em> to <em>The World's End</em>, we take a look back at the summer's triumphs and duds.</p>
      </div>
      <br class="clearfix" />
                      <div class="story">
        <a href="http://www.themarysue.com/40-webcomics-you-need-to-read/"><img width="96" height="96" src="http://static03.mediaite.com/themarysue/uploads/2013/08/nimona-top-96x96.jpg" class="attachment-powergrid wp-post-image" alt="nimona top" title="nimona top" /></a>
        <h6><a href="http://www.themarysue.com/40-webcomics-you-need-to-read/">40 Webcomics You Need to Read</a></h6>
        <p>We’ve compiled a list of our own favorite webcomics, conveniently categorized and described, to help webcomic veterans and newbies alike find new comics to love.</p>
      </div>
      <br class="clearfix" />
        <div class="read-more">
      <a href="http://www.themarysue.com/category/power-grid/">Read More Power Grids!</a>
    </div>
    </li>
  <li id="popular-posts" class="sidebar-item">
    <div class="sidebar-header">Popular Posts</div>
    <div class="sidebarboxcontent">
        <ul>
  <li class="most-pop">
    <a href="http://www.themarysue.com/marvel-dc-roller-derby/" title="Marvel vs. DC Roller Derby Girls are Super Cute, Would Leave the Rink a Smoking Crater">
      <span><img width="125" height="94" src="http://static03.mediaite.com/themarysue/uploads/2013/10/dc_vs_marvel_roller_derby__wonder_woman_ms_marvel_by_kevinbolk-d6o3r69-125x94.jpg" class="attachment-thumbnail wp-post-image" alt="dc_vs_marvel_roller_derby__wonder_woman_ms_marvel_by_kevinbolk-d6o3r69" title="Marvel vs. DC Roller Derby Girls are Super Cute, Would Leave the Rink a Smoking Crater" />Marvel vs. DC Roller Derby Girls are Super Cute, Would Leave the Rink a Smoking Crater</span>
    </a>
  </li>
  <li class="most-pop">
    <a href="http://www.themarysue.com/batmans-ordinary-adventures/" title="Batman&#8217;s Most Ordinary Adventures">
      <span><img width="125" height="94" src="http://static03.mediaite.com/themarysue/uploads/2013/10/tumblr_mhnxvdLoWJ1r1069oo1_r2_500-125x94.jpg" class="attachment-thumbnail wp-post-image" alt="tumblr_mhnxvdLoWJ1r1069oo1_r2_500" title="Batman&#8217;s Most Ordinary Adventures" />Batman&#8217;s Most Ordinary Adventures</span>
    </a>
  </li>
  <li class="most-pop">
    <a href="http://www.themarysue.com/game-of-thrones-women-mucha/" title="The Ladies of Game of Thrones In the Style of Mucha">
      <span><img width="125" height="94" src="http://static03.mediaite.com/themarysue/uploads/2013/10/brienne-125x94.jpg" class="attachment-thumbnail wp-post-image" alt="brienne" title="The Ladies of Game of Thrones In the Style of Mucha" />The Ladies of <em>Game of Thrones</eM> In the Style of Mucha</span>
    </a>
  </li>
  <li class="most-pop">
    <a href="http://www.themarysue.com/geeky-onesies/" title="Geeky Onesies, Because Being an Infant Doesn&#8217;t Mean You Can&#8217;t Cosplay">
      <span><img width="125" height="94" src="http://static03.mediaite.com/themarysue/uploads/2013/10/onesieDW2-125x94.jpg" class="attachment-thumbnail wp-post-image" alt="onesieDW2" title="Geeky Onesies, Because Being an Infant Doesn&#8217;t Mean You Can&#8217;t Cosplay" />Geeky Onesies, Because Being an Infant Doesn&#8217;t Mean You Can&#8217;t Cosplay</span>
    </a>
  </li>
  <li class="most-pop">
    <a href="http://www.themarysue.com/welovefine-dresses/" title="WeLoveFine Adds New Geeky Dresses For All Your Halloween Needs">
      <span><img width="125" height="94" src="http://static03.mediaite.com/themarysue/uploads/2013/10/WLFdresses-125x94.jpg" class="attachment-thumbnail wp-post-image" alt="WLFdresses" title="WeLoveFine Adds New Geeky Dresses For All Your Halloween Needs" />WeLoveFine Adds New Geeky Dresses For All Your Halloween Needs</span>
    </a>
  </li>
</ul>   </div>
    <br class="clearfix" />
</div>
</div>
    <div id="footer">
        <div id="unit-footer">
        <div id='leaderboard-btf'>
        </div>
    </div>
</div>
<script type="text/javascript">
  $('ul.site-headlines a').hover(
    function() {
      var xd = $(this).width() - ($(this).closest('ul').width() - 30);
      if (xd > 0) $(this).parent().stop().animate({'margin-left': -xd+'px'}, 1000);
    },
    function() {
      $(this).parent().stop().animate({'margin-left': '0px'}, 1000);
    }
  );
</script>      </div>
      <div id="credits">
        <p>
          <strong>&copy; 2013 TheMarySue, LLC</strong> |
          <a href="http://www.themarysue.com/about/">About Us</a> |
          <a href="http://www.abrams-media.com/the-mary-sue">Advertise</a> |
          <a href="http://www.themarysue.com/email-newsletter/">Newsletter</a> |
          <a href="http://jobs.mediaite.com/">Jobs</a> |
          <a href="http://www.themarysue.com/contributors/">Contributors</a> |
          <a href="http://www.themarysue.com/privacy/">Privacy</a> |
          <a href="http://www.themarysue.com/user-agreement/">User Agreement</a> |
          <a href="http://www.themarysue.com/disclaimer/">Disclaimer</a> |
          <a href="http://www.themarysue.com/contact/">Contact</a> |
          <a href="http://www.themarysue.com/archives/">Archives</a> |
          <a href="http://www.themarysue.com/feed/"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/rss.png" alt="RSS" /> RSS</a>
          <br />
          <a href="http://www.dan-abrams.com/" title="Dan Abrams" target="_blank">Dan Abrams</a>, <a href="http://abcnews.go.com/GMA/good-morning-america-legal-analyst-dan-abrams-biography/story?id=13741219#.UJ8UJyPXHJw" target="_blank">Founder</a> |
          <a href="http://www.datagram.com/" title="Hosting" target="_blank">Hosting by Datagram</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Start Dynamic Footer -->
                                                <div id='skin-1x3'>
            </div>
              <!-- End Dynamic Footer -->

</body>
<!--2013-10-08T22:24:27+00:00/64/0.094-->
<!-- We apologize again for the popup ad. Those responsible for sacking those people who were sacked have just been sacked. -->
</html>
<!-- Dynamic page generated in 0.092 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2013-10-08 18:24:27 -->
