<style>
.new-meme-box-wrapper  { width: 300px; overflow: hidden; background-color: #eee; padding: 0 0 10px 0; }
.new-meme-box          { width: 600px; margin:0 auto; overflow: auto; text-align: center; }
.step                  { position: relative; float: left; width: 300px; }
.step2                 { padding: 0 10px }
.step2 form input      { margin-bottom: 5px; }
.step2-image-container { margin-bottom: 5px; }
.back                  { text-align: left; padding-bottom: 10px; }
.meme-images img       { cursor: pointer; margin: 2px 0px; }
</style>