{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="memes">
                {% for meme in memes %}
                    <div class="meme">
                        <a href="/memes/{{ meme.id }}">
                            <img src="/images/{{ meme.getImage.id }}" width="225">
                        </a>
                    </div>
                {% else %}
                    <div class="text-center">No memes has been aproved yet. Check back soon!</div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4">
            <iframe src="/form" width="300" height="475" frameborder="0" scrolling="no" seamless></iframe>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if memes.count(true) %}
        <script type="text/javascript">
        // isotope
        $(window).load(function() {
            var $container = $(".memes");

            $container.isotope({
                resizable: false,
                masonry : {
                    columnWidth: $container.width() / 3
                }
            });
        });
        </script>
    {% endif %}
{% endblock %}