{% extends 'layout-tms.html.twig' %}

{% block meta_tags %}
    <meta property="og:image" content="http://static03.mediaite.com/themarysue/uploads/2013/10/michonne-horse1-300x129.jpg" />
{% endblock %}

{% block content %}
    <div class="memes">
        {% for meme in memes %}
            <div class="meme">
                <a href="/memes/{{ meme.id }}"><img src="{{ asset(meme.image.url(200)) }}" width="200"></a>
            </div>
        {% else %}
            <div class="text-center">No memes has been aproved yet. Check back soon!</div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if memes.count(true) %}
        <script>
        // isotope
        $(window).load(function() {
            var $container = $(".memes");

            $container.isotope({
                resizable: false,
                masonry : {
                    columnWidth: ($container.width() - 30) / 4
                }
            });
        });
        </script>
    {% endif %}
{% endblock %}