<!-- @author Andrei Shevtsov <andrei@parad0x.me> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meme Generator</title>
    <meta name="description" value="Simple meme-generator API">
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- / Content -->

    <!-- Javascript -->
    <script type="text/javascript" src="/assets/vendor/zepto/zepto.min.js"></script>
    {% block javascripts %}{% endblock %}
    <!-- / Javascript -->
</body>

</html>