<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="apple-touch-icon" href="http://www.themarysue.com/apple-touch-icon.png" />
    <link rel="shortcut icon" href="http://www.themarysue.com/favicon.ico" />
    <link rel="pingback" href="http://www.themarysue.com/xmlrpc.php" />
    <link rel="alternate" type="application/rss+xml" href="http://www.themarysue.com/feed/" title="The Mary Sue RSS Feed" />
    <link rel="alternate" type="application/atom+xml" href="http://www.themarysue.com/feed/atom/" title="The Mary Sue Atom Feed" />

    <!-- Description, keywords and FB OG meta data -->
    <meta name="description" content="The Walking Dead comes back this Sunday, just as your Mary Sue staff members and our fellow New York geeks will be recovering from New York Comic Con. We'll feel dead to the world, and the Walkers will just be dead. You can jazz up the wait with this handy-dandy meme generator. There's feminist Daryl! He'll shower you with compliments, because there are no more showers. Or scumbag Governor—big bad, still doesn't die. You're on the Internet. You know how this works. Head under the cut to create a meme and unleash your brilliance. Just don't unleash your pet Walkers, please." />
    <meta name="keywords" content="amc,memes,the walking dead" />
    <meta property="og:title" content="Get Your Meme On With Season Four Of The Walking Dead" />
    <link rel="alternate" type="application/rss+xml" title="The Mary Sue &raquo; Get Your Meme On With Season Four Of &lt;eM&gt;The Walking Dead&lt;/em&gt; Comments Feed" href="http://www.themarysue.com/walking-dead-s4-meme/feed/" />
    {% block meta_tags %}{% endblock %}

    <!-- Javascripts -->
    <script type='text/javascript' src='http://www.themarysue.com/wp-includes/js/l10n.js?ver=20101110'></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
    <script type='text/javascript' src="http://cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js"></script>
    <script type='text/javascript' src="http://static03.mediaite.com/themarysue/themes/themarysue/js/scripts.js?v=4jzbtt"></script>

    <!-- Styleseets -->
    <link rel='stylesheet' id='am-ngg-car-skin-css'  href='http://www.themarysue.com/wp-content/plugins/am-ngg-front-end/media/skin/skin.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='am-ngg-css-css'  href='http://www.themarysue.com/wp-content/plugins/am-ngg-front-end/media/style.css?ver=2.2' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="http://static03.mediaite.com/themarysue/themes/themarysue/style.css?v=4ke3to" />
    <link rel="stylesheet" type="text/css" href="http://static03.mediaite.com/themarysue/themes/themarysue/images/fancybox/fancybox.css" />
    {% include 'partials/style.css' %}
    {% block stylesheets %}{% endblock %}

</head>

<body class="single">

<div id="fb-root"></div>

<div id="network-bar">
    <ol>
        <li id="bar-mediaite"><a href="http://www.mediaite.com/">Mediaite</a></li>
        <li id="bar-gossipcop"><a href="http://www.gossipcop.com/">Gossip Cop</a></li>
        <li id="bar-geekosystem"><a href="http://www.geekosystem.com/">Geekosystem</a></li>
        <li id="bar-styleite"><a href="http://www.styleite.com/">Styleite</a></li>
        <li id="bar-sportsgrid"><a href="http://www.sportsgrid.com/">SportsGrid</a></li>
        <li id="bar-marysue"><a class="bar-current" href="http://www.themarysue.com/">The Mary Sue</a></li>
        <li id="bar-thejanedough"><a href="http://www.thejanedough.com/">The Jane Dough</a></li>
        <li id="bar-thebraiser"><a href="http://www.thebraiser.com/">The Braiser</a></li>
    </ol>
</div>

<div id="header">
    <div id="logo-area">
        <div id="mascot">
            <a href="http://www.themarysue.com/">
                <img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/mascots/17.png" alt="Mascot" id="tms_mascot" />
            </a>
        </div>

        <div id="social">
            <ul>
                <li id="soc-google" class="soc-item"><a href="https://plus.google.com/100214857885073188302/" rel="publisher" title="Follow on Google Plus">Follow on Google Plus</a></li>
                <li id="soc-pinterest" class="soc-item"><a href="http://pinterest.com/themarysue/" title="Follow on Pinterest">Follow on Pinterest</a></li>
                <li id="soc-twitter" class="soc-item"><a href="https://twitter.com/TheMarySue" title="Follow @TheMarySue">Follow @TheMarySue</a></li>
                <li id="soc-facebook" class="soc-item"><a href="http://www.facebook.com/themarysue" title="Like us on Facebook">Like us on Facebook</a></li>
            </ul>
            <script type="text/javascript" src="http://static03.mediaite.com/themarysue/themes/themarysue/js/soc-scripts.js"></script>
        </div>

        <div id="logo-search">
            <div id="tagline">
                <img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/header-tagline.png" alt="A Guide To Girl Geek Culture" />
            </div>
            <form method="get" action="http://www.themarysue.com/">
                <input type="text" name="s" value="SEARCH..." class="search-input autoclear" />
                <a href="#" class="form-submit"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/submit.png" alt="Submit" /></a>
            </form>
        </div>

        <div id="logo-home">
            <a href="http://www.themarysue.com/"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/header-logo.png" alt="The Mary Sue" /></a>
            <a href="#" id="asterisk"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/header-star.png" alt="*" /></a>
        </div>
    </div>
</div>

<br>

<div id="wrapper">
    <div id="contentwrapper">
        <div id="content">
            <div id="posts" style="width:100%">
                <div class="post single">
                    <div id="post-heading">
                        {#
                            <h3 class="category"><a href="http://www.themarysue.com/category/things-to-do-with-your-kids/">Things to Do With Your Kids</a></h3>
                            <h1>Elmo and Cookie Monster Are Getting a <em>Sesame Street</eM> Spin-Off</h1>
                            <p class="dateline" style="width:535px;">by <a href="http://www.themarysue.com/author/rebecca-pahle/" title="Posts by Rebecca Pahle">Rebecca Pahle</a> | 11:00 am, October 8th, 2013</p>
                        #}
                        <div id="share-cont">
                            {% block share_content %}{% endblock %}
                            <br class="clearfix" />
                        </div>
                    </div>

                    <div id="post-body">
                        {% block content %}{% endblock %}
                        <br class="clearfix" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="credits">
            <p>
                <strong>&copy; 2013 TheMarySue, LLC</strong> |
                <a href="http://www.themarysue.com/about/">About Us</a> |
                <a href="http://www.abrams-media.com/the-mary-sue">Advertise</a> |
                <a href="http://www.themarysue.com/email-newsletter/">Newsletter</a> |
                <a href="http://jobs.mediaite.com/">Jobs</a> |
                <a href="http://www.themarysue.com/contributors/">Contributors</a> |
                <a href="http://www.themarysue.com/privacy/">Privacy</a> |
                <a href="http://www.themarysue.com/user-agreement/">User Agreement</a> |
                <a href="http://www.themarysue.com/disclaimer/">Disclaimer</a> |
                <a href="http://www.themarysue.com/contact/">Contact</a> |
                <a href="http://www.themarysue.com/archives/">Archives</a> |
                <a href="http://www.themarysue.com/feed/"><img src="http://static03.mediaite.com/themarysue/themes/themarysue/images/rss.png" alt="RSS" /> RSS</a>
                <br />
                <a href="http://www.dan-abrams.com/" title="Dan Abrams" target="_blank">Dan Abrams</a>, <a href="http://abcnews.go.com/GMA/good-morning-america-legal-analyst-dan-abrams-biography/story?id=13741219#.UJ8UJyPXHJw" target="_blank">Founder</a> |
                <a href="http://www.datagram.com/" title="Hosting" target="_blank">Hosting by Datagram</a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('ul.site-headlines a').hover(
        function() {
            var xd = $(this).width() - ($(this).closest('ul').width() - 30);
            if (xd > 0) $(this).parent().stop().animate({'margin-left': -xd+'px'}, 1000);
        },
        function() {
            $(this).parent().stop().animate({'margin-left': '0px'}, 1000);
        }
    );

    function resizeTwdIframe(height) { $("#twd-iframe").stop().animate({height: height}, 300); }
</script>

<!-- Javascript -->
{% block javascripts %}{% endblock %}
<!-- / Javascript -->

</body>
</html>