<!-- @author Andrei Shevtsov <andrei@parad0x.me> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meme Generator</title>
    <meta name="description" value="Simple meme-generator API">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    {% block head %}{% endblock %}
</head>

<body>
    <main>
        <header>
            <a class="brand" href="/">Meme Generator</a>
        </header>

        <!-- Content -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <!-- / Content -->

        <footer>
            <div class="row">
                <div class="span6">&copy; 2013</div>
            </div>
        </footer>
    </main>

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/assets/vendor/jquery/jquery.isotope.min.js"></script>
    {% block javascripts %}{% endblock %}
    <!-- / Javascript -->
</body>

</html>